body {
    background-color:lightblue;
    }
                              
h1  {
   text-align:center;
   font-size:40pt;
    }

    h4  {
        text-align:center;
        font-size:15pt;
         }